.pixel {
  background-color: #000;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.filterDetail {
  font-family: "Consolas", "Menlo", "Ubuntu Mono", monospace;
}

#result {
  display: none;
}

#copy, #copy img{
  width: 30px;
  height: 30px;
}

#copy:hover{
  cursor: pointer;
}
